.products {
  position: relative;
  &_title {
    border-bottom: 2px solid $light;
    text-align: center;
    font-weight: 700;
  }
  &_list {
    text-align: center;
    padding: 10px 0;
    &:hover {
      background-color: #f3f3f3;
    }

    &_modifyBTN {
      @include outlineBTN-hover($secondary);
    }
    &_deleteBTN {
      @include outlineBTN-hover($danger);
    }

    &_isPaid--success {
      color: $secondary;
    }
    &_isPaid--fail {
      color: $danger;
    }
  }
  &_addNewProduct {
    display: flex;
    flex-direction: row-reverse;
    &_btn {
      @include outlineBTN-hover($secondary);
      @extend %border-radius;
      padding: 10px 20px;
      font-weight: 700;
    }
  }
}
