.selectProductItem {
  &_item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 50px;
    }
    &--active {
      background-color: $primary;
    }
    &:hover {
      background-color: $primary;
    }

    &_title {
      color: $secondary;
      font-weight: 700;
      cursor: pointer;
    }
    &_plus_minus {
      background-color: $secondary;
      color: #fff;
      cursor: pointer;
    }
    &_deleteBTN {
      @include outlineBTN-hover($danger);
      @extend %border-radius;
      width: 100%;
      padding: 5px;
      font-weight: 1.2rem;
    }
  }
}
